@page
@model COVID.App.Frontend.Pages.EditarSedeModel
@{
}
<h1>Editar Sede</h1>
<form method="post">
    <input type="hidden" asp-for="Sedes.id">
    <div class="form-group">
        <label asp-for="Sedes.nombre_sede">Nombre:</label>
        <input asp-for="Sedes.nombre_sede" class="form-control" size"60" style="width:500px">
        <span class="text_danger" asp-validation.for="Sedes.nombre_sede"></span>
    <div class="form-group">
        <label asp-for="Sedes.cantidad_salones">No. de Salones:</label>
        <input asp-for="Sedes.cantidad_salones" class="form-control" size"60" style="width:500px">
    </div>
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    <a asp-page="/Sedes/Sedes" class="btn btn-primary">Gestor de Sedes</a>
    <a class="btn btn-primary table-btn" asp-area="" asp-page="/Index">
        <i class="fas fa-home">Inicio</i>
    </a>
</form>