@page
@model COVID.App.Frontend.Pages.EliminarSedeModel
@{
}
<h1>Eliminar Sede</h1>
<h2>Se va a eliminar la siguiente Sede</h2>
<table class="table">
    <tr>
        <td>ID: </td>
        <td>@Model.Sedes.id</td>       
    </tr>
    <tr>
        <td>Nombre: </td>
        <td>@Model.Sedes.nombre_sede</td>
    </tr>
    <tr> 
        <td>No. de Salones: </td>
        <td>@Model.Sedes.cantidad_salones</td>
    </tr>
</table>
<form method="post">
    <input type="hidden" asp-for="Sedes.id">
    <button type="submit" class="btn btn-primary">Confirmar Eliminar</button>
    <a asp-page="/Sedes/Sedes" class="btn btn-primary">Gestor de Sedes</a>
    <a class="btn btn-primary table-btn" asp-area="" asp-page="/Index">
        <i class="fas fa-home">Inicio</i>
    </a>
</form>