@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <br>
    <br>
    <br>
    <h1 class="display-4">Bienvenido a Asignacion de Salones</h1>
    <p>Reserva ya tu salón!!!</p>   

</div>



